.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;

  .content {
    border: none;
    background-color: transparent;
    transition: all 150ms ease-in;
    margin: 20px auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #424242;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    font-size: 14px;
    color: #ECECEC;
    text-align: left;

    .close {
      text-align: right;
    }

    ol {
      padding: 0 20px;
    }

    .title {
      color: #00BCD4;
      display: inline-block;
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

}

@media (min-width: 700px) {
  .modal .content {
    width: 600px;
  }
}
